.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.main {
  flex: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-style: solid;
  border-color: #f0f0f0;
  border-width: 0 0 1px;
}

.sidebar {
  width: 280px;
}

.logo {
  height: 56px;
  margin-left: 0.5rem;
}

.post {
  margin: 0 0 15px;
  padding: 15px 2px 20px 0;
  display: flex;
  min-height: 140px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
  line-height: 20px;
}

.post .has-img {
}

.post-container {
  padding-right: 30px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 10px;
}

.post-img {
  width: 150px;
  height: 100px;
}

.post-img img {
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.post-title {
  color: #333;
  font-height: 700;
  line-height: 1.5;
}

.post-abstract {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

.post-meta {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.diamond,
.like,
.nickname,
.comment {
  display: flex;
  align-items: center;
  color: #b4b4b4;
}

.diamond span,
.like span,
.nickname span,
.comment span {
  padding: 0 10px 0 4px;

}

.diamond {
  color: #ea6f5a;
}

.like {
}


@media (min-width: 1080px) {
  .post-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .post-container {
    max-width: 640px;
  }
}
